.jumbotron {
    padding-top: 6rem;
    background-color: #97999c;
  }
  
  #projects {
    background-color: rgb(94, 98, 104));
  }
  
  section {
    padding-top: 5rem;
  }
  /**SKILL SECTION**/
  .skill {
      margin-top: 30px;
      font-size: 20px;
  }
  
  .skill span {
      float: right;
  }
  
  .skill div {
      width: 100%;
      float: left;
      margin-top: 5px;
      background: #111111;
      border-radius: 10px;
  }
  
  .skill div span {
      background: #ffbf35;
      height: 5px;
      float: left;
  }
  
  div[role="progressbar"] {
      color: #ffbf35;
      margin-left: 100px;
      margin-bottom: 20px;
      width: 100px;
      ;
      height: 100px;
      ;
      border-radius: 50%;
  
      place-items: center;
      display: grid;
  
      --pgPercentage: var(--value);
      background: radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
          conic-gradient(#ffbf35 calc(var(--pgPercentage) * 1%), #ffe6af 0);
  
  }
  
 